.main {
  padding: 0 40px;
}

.main__title {
  color: #50802C;
  font-size: 54px;
  font-weight: 600;
}

.main__image {
  float: right;
  max-height: 400px;
  padding: 10px;
}

.main__text {
  line-height: 30px;
  margin-bottom: 100px;
}

@media screen and (max-width: 480px) {
  .main__image {
    float: none;
    width: 100%;
  }

  .main__title {
    font-size: 23px;
    text-align: center;
  }

  .main__text {
    font-size: 23px;
  }
}
