.container {
    max-width: 1500px;
    width: 90%;
    margin: 15px auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.treeHeader {
    margin-bottom: 50px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(2, 57, 11, 1);
}

.treeHeaderSplit {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 100px;
    background-color: rgba(2, 57, 11, 1);
    width: 30%;
}

.wrapper {
    background: #fff;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    margin-left: 20px;
}

.editLinkWrapper {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 25px;
    background: #02390B;
}

.editLink,
.removeLink {
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}

.editLink {
    background-color: #aec400;
}

.removeLink {
    margin-right: 10px;
    background-color: #c40000;
}

.tbody {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    column-gap: 15px;
    row-gap: 15px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    width: 49%;
}

.col {
    font-weight: 500;
}

.col:nth-child(1) {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .treeHeader {
        font-size: 23px;
    }
}

@media screen and (max-width: 1024px) {
    .tbody {
        flex-direction: column;
        margin: 0px 10px;
    }

    .row {
        width: 100%;
    }


}