.mainWrapper {
    flex: 1 0 auto;
    margin-top: 110px;
    height: fit-content;
}

@media screen and (min-width: 1024px) {
    .mainWrapper {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .fullMap {
        height: 80vh;
    }
}

@media screen and (max-width: 480px) {
    .fullMap {
        height: 70vh;
    }
}
