.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
    margin: 10px 0;
    font-size: 31px;
}

.firstPart {
    color: #ffffff;
    margin-left: 5px;
}

.secondPart {
    color: #aec400;
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 30px;
    }
}