.tableImgMobile {
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
}

.treeTableRowMobile {
    display: flex;
    border: 1px solid black;
    padding: 0 9px;
    background: rgba(212, 229, 215, 0.5);
}

.treeTableRowMobile:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 15px -5px rgb(34 60 80 / 57%);
}

.treeTableMobile {
    display: none;
    margin: 0 33px;
}

.treeTableItemWrapperHeadingMobile,
.treeTableItemWrapperMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.treeTableItemWrapperHeadingMobile {
    color: rgba(2, 57, 11, 1);

    flex-grow: 1;
    margin-left: 16px;
}

.treeTableItemWrapperMobile {
    color: rgba(151, 159, 160, 1);
    ;
}








a:hover {
    text-decoration: none;
}

.treeListHeader {
    margin: 25px 0 60px 0;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(2, 57, 11, 1);
}

.treeListHeaderSplit {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 100px;
    background-color: rgba(2, 57, 11, 1);
    width: 30%;
}

.buttonNavigation {
    margin: 10px;
    background: inherit;
    font-size: 20px;
    color: grey;
    cursor: pointer;
    border: 0;
}

.activeNavigationButton {
    color: black;
    border-bottom: 2px solid #FB8F07;
}

.treeTableHeader {
    display: none;
}

.treeTableBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.treeTableItemWrapper {
    width: 100%;
    padding: 20px 20px 15px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    max-width: 300px;
    background: rgba(212, 229, 215, 0.5);
    box-shadow: 0 0 10px -5px rgb(34 60 80 / 57%);
}

.treeTableItem {
    margin-bottom: 5px;
    word-break: break-word;
    word-wrap: break-word;
}

.treeTableItemImg,
.treeTablePencil {
    display: block;
    text-align: center;
}

.treeTableItemImg {
    width: 100%;
    text-align: center;
}

.treTableEditButton {
    border: 0;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    height: 40px;
    color: #FB8F07;
    margin-top: 10px;
}

.treTableEditButton:focus,
.treTableEditButton:active {
    color: #fff;
    background: #FB8F07;
}

.faPencil {
    display: none;
}

.tableImg {
    max-width: 100%;
    max-height: 197px;
}

.treeNavigation {
    text-align: center;
    margin: 30px 0;
}

.treeTableItemWrapper {
    max-width: 195px;
    flex-basis: 195px;
    width: 100%;
    margin: 0 1% 25px 1%;
    padding-bottom: 70px;
    position: relative;
}

.tableImg {
    max-height: 130px
}

.treeTablePencil {
    position: absolute;
    bottom: 15px;
    width: 155px;
}

.treeTable {
    max-width: 1500px;
    width: 95%;
    display: table;
    margin: 0 auto;
    padding: 0 15px;
    border-collapse: collapse;
}

.treeTableHeader {
    display: table-row;
    border: 1px black solid;
}

.treeTableItemWrapper {
    box-shadow: none;
    display: table-row;
    height: 70px;
    margin: 0;
    padding: 0;
}

.treeTableItemWrapper:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 15px -5px rgb(34 60 80 / 57%);
}

.treeTablePrefix {
    display: none;
}

.treeTableBody {
    display: table-row-group;
}

.treeTableHeaderItem {
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    vertical-align: middle;
    color: rgba(2, 57, 11, 1);
    border: 1px solid black;
}

.treeTableItem {
    display: table-cell;
    text-align: center;
    padding: 5px 20px;
    color: black;
    vertical-align: middle;
    font-size: 25px;
}

.treeTableItemImg {
    width: auto;
}

.tableImg {
    max-height: 70px;
    max-width: 70px;
}

.treeTablePencil {
    position: static;
    width: auto;
}

.treTableEditButton {
    display: none;
}

.faPencil {
    display: inline-block;
    font-size: 23px;
    color: rgb(97, 96, 96);
}

.faPencil:hover {
    color: #181818;
}

@media screen and (max-width: 600px) {
    .treeTableMobile {
        display: block
    }

    .treeTable {
        display: none;
    }

    .treeListHeader {
        font-size: 23px;
    }
}